#sig-canvas {
    border: 2px dotted #CCCCCC;
    border-radius: 15px;
    cursor: crosshair;
    width: 100%;
    height: 200px;
}

body {
    background: url("bg.png");
    overscroll-behavior-y: none;
}

.form-control:focus {
    border-color: #BAAC9E;
    box-shadow: 0 0 0 0.2rem #BAAC9E;
}

.bg-secondary {
    background-color: #BAAC9E !important;
}

.btn-secondary {
    background-color: #BAAC9E !important;
    border-color: #BAAC9E !important;
}

.form-control::placeholder {
    color: #BAAC9E;
    opacity: 1;
}